.toast {
    position: relative;
    left: 25%;
    width: 50%;
    bottom: 52px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translate(-50%, 0);
    animation: fadein 0.5s;
    font-size: 12px;
    z-index: 9999999999;
}
.toast.error {
    background-color: rgba(234, 38, 23, 0.7);
}
.toast.success {
    background-color: rgba(76, 175, 80, 0.8);
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
